.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}
.title-container {
  max-width: 900px;
  text-align: center;
  .shape-letters {
    display: inline-block;
  }
  .possible-letters {
    display: inline-block;
  }
  .letter-container {
    padding: 5px;
    float: left;
  }
  .s-container {
    width: 88px;
    margin-top: 6px;
  }
  .rotate-wrapper {
   -webkit-animation: rotate-circle 2s 2s ease-out forwards;
    div:nth-child(1) {
      width: 70px;
      height: 35px;
      border-radius: 90px 90px 0 0;
      background: rgba(25, 181, 254, .8);
       -webkit-animation: shift-top 1s 4s ease-out forwards;
    }
    div:nth-child(2) {
      width: 70px;
      height: 35px;
      border-radius: 0px 0px 90px 90px;
      border-top: 1px solid yellow;
      background: rgba(201,55,86, .8);
    }
  }
  .h-container {
    div:nth-child(1) {
      width: 39px;
      height: 80px;
      background: rgba(25, 181, 254, .8);
      float: left;
      z-index: 100;
    }
    div:nth-child(2) {
      width: 39px;
      height: 80px;
      background: rgba(201,55,86, .8);
      -webkit-animation: slide-right 2s 2s ease-out forwards;
    }
  }
  .a-container {
    div:nth-child(1) {
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 80px solid rgba(25, 181, 254, .8);
      float: left;
    }
    div:nth-child(2) {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 40px solid rgba(201,55,86, .8);
      opacity: 0;
      position: relative;
      top: 40px;
      left: 40px;
      z-index: 10;
      -webkit-animation: fade-in 4s 2s ease-out forwards;
    }
  }
  .p-container {
    padding: 5px 15px 5px 5px;
    div:nth-child(1) {
      width: 40px;
      height: 80px;
      background: rgba(25, 181, 254, .8);
      float: left;
    }
    div:nth-child(2) {
      width: 50px;
      height: 25px;
      border-radius: 90px 90px 0px 0px;
      background: rgba(201,55,86, .8);
      transform: rotate(90deg);
      position: relative;
      top: 43px;
      left: 23px;
      opacity: .9;
      -webkit-animation: p-transition 2s 2s ease-out forwards;
    }
  }
  .e-container {
    div:nth-child(1) {
      width: 70px;
      height: 80px;
      background: rgba(25, 181, 254, .8);
      float: left;
    }
    div:nth-child(2) {
      width: 20px;
      height: 15px;
      background: rgba(201,55,86, .8);
      position: relative;
      top: 15px;
      left: 49.5px;
      opacity: 0;
      -webkit-animation: e-top-square 4s 2s ease-out forwards;
    }
    div:nth-child(3) {
      width: 20px;
      height: 15px;
      background: rgba(201,55,86, .8);
      position: relative;
      top: 35px;
      left: 49.5px;
      opacity: 0;
      -webkit-animation: e-bottom-square 4s 2s ease-out forwards;
    }
  }
  .o-container {
    div:nth-child(1) {
      background: rgba(201,55,86, .8);
      border-radius: 50%;
      -webkit-animation: grow 3s 2s ease-out forwards;
    }
   }
  .i-container {
    width: 42px;
    div:nth-child(1) {
      width: 30px;
      height: 80px;
      background: rgba(25, 181, 254, .8);
      border-left: 5px solid rgba(201,55,86, .8);
      border-right: 5px solid rgba(201,55,86, .8);
      margin: 0 auto;
    }
  }
  .b-container {
    padding: 5px 15px 5px 5px;
    .rectangle-wrapper {
      div {
        width: 40px;
        height: 80px;
        background: rgba(25, 181, 254, .8);
        float: left;
      }
    }
    .top-hem-wrapper {
      div {
        width: 50px;
        height: 25px;
        border-radius: 90px 90px 0px 0px;
        background: rgba(201,55,86, .8);
        transform: rotate(90deg);
        position: relative;
        top: 12px;
        left: 23px;
        opacity: .9;
        z-index: 1;
        -webkit-animation: b-top-hem 2s 2s ease-out forwards;
      }
    }
    .bottom-hem-wrapper {
      div {
        width: 50px;
        height: 25px;
        border-radius: 90px 90px 0px 0px;
        background: rgba(201,55,86, .8);
        transform: rotate(90deg);
        position: relative;
        top: 18px;
        left: 23px;
        opacity: .9;
        -webkit-animation: b-bottom-hem 2s 2s ease-out forwards;
      }
    }
  }
  .l-container {
    padding: 5px 25px 5px 5px;
    div:nth-child(1) {
      width: 45px;
      height: 80px;
      background: rgba(25, 181, 254, .8);
      float: left;
    }
    div:nth-child(2) {
      width: 45px;
      height: 40px;
      background: rgba(25, 181, 254, .8);
      z-index: 1;
      opacity: .9;
      position: relative;
      top: 39.5px;
      left: 0px;
      -webkit-animation: l-slide 2s 2s ease-out forwards;
    }
  }
}

@-webkit-keyframes rotate-circle {
  100% { transform: rotate(-45deg); }
}
@-webkit-keyframes shift-top {
  100% { margin: 0px 15px; }
}
@-webkit-keyframes slide-right {
  100% { margin: 0px 0px 0px 40px; }
}
@-webkit-keyframes fade-in {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes p-transition {
    0% { top: 43px; left: 23px;}
    100% { top: 12px; left: 23px}
}
@-webkit-keyframes b-top-hem {
    0% { top: 18px; left: 23px;}
    100% { top: 43px; left: 23px}
}
@-webkit-keyframes b-bottom-hem {
    0% { top: 18px; left: 23px;}
    100% { top: -13px; left: 23px}
}
@-webkit-keyframes e-top-square {
    0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes e-bottom-square {
    0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes grow {
 0% { width: 80px;
      height: 80px;
-webkit-transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
  }

  100% {width: 80px;
      height: 80px;
 -webkit-transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
  }
}

@-webkit-keyframes l-slide {
0% {left: 0px;}
100% {left: 20px;
background: rgba(201,55,86, .8);}
}
